*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#f4fdf4;
    color:#333;
}

header{
    background:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
    url("https://images.unsplash.com/photo-1500937386664-56d1dfef3854");
    background-size:cover;
    background-position:center;
    height:100vh;
    color:white;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:rgba(0,0,0,.3);
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.hero{
    height:80vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

.hero h2{
    font-size:4rem;
    margin-bottom:15px;
}

.hero p{
    font-size:1.3rem;
    max-width:700px;
}

button{
    margin-top:25px;
    padding:12px 25px;
    border:none;
    border-radius:30px;
    background:#2e7d32;
    color:white;
    cursor:pointer;
    font-size:1rem;
    transition:0.3s;
}

button:hover{
    background:#1b5e20;
}

.container{
    padding:80px 10%;
    text-align:center;
}

.container h2{
    color:#2e7d32;
    margin-bottom:20px;
}

.cards{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:25px;
}

.card{
    background:white;
    width:300px;
    padding:25px;
    border-radius:15px;
    box-shadow:0 4px 12px rgba(0,0,0,.1);
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.contador{
    text-align:center;
    padding:70px 20px;
    background:#e8f5e9;
}

#numero{
    font-size:4rem;
    font-weight:bold;
    color:#2e7d32;
}

footer{
    background:#1b5e20;
    color:white;
    text-align:center;
    padding:30px;
}

@media(max-width:768px){

    nav{
        flex-direction:column;
        gap:15px;
    }

    .hero h2{
        font-size:2.5rem;
    }

    .cards{
        flex-direction:column;
        align-items:center;
    }
}